*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  #results{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: auto;
  }
  .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  .card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(148, 131, 131, 0.616);
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 5rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
  }
  .recipe-card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgb(163, 144, 144);
      border-top-right-radius: 5rem;
      border-bottom-left-radius: 5rem;
      border-bottom-right-radius: 5rem;
      border-top-left-radius: 5rem;
      margin:1rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      
      
  }

  .panou1{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      
      margin-bottom: 0.4rem;
    
  }
  .chart-container{
      height: 100%;
      width: 33%;
  }
  .nutrition{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 33%;
      
  }
  .ingredients{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 31%;
      margin-left: 1rem;
  }
  .fatCal{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 33%;
  }
  .panou1>img{
      
      height: 100%;
      width: 33%;
      object-fit: cover;
  }
  .poza{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 33%;
      height: 100%;
  }
  .info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 33%;
      height: 100%;
  }
  .ratio{
          display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 33%;
      height: 100%;
  }
  img{
      max-width: 100%;
      max-height: 100%;
      aspect-ratio: 16/9;
  }
  .panou2{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      
  }
  
  .ing{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      width: 33%;
      height: 100%;
  }
  .clao{
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      width: 33%;
  }
  div{
   border: 1px red dotted; 
  }
  
  footer {
      height: 40px;
      width: 100%;
      text-align: center;
  
  }
  #searchbtn{
  cursor: pointer;
  width:22px;
  height: 20px;
  border: 0.1px solid greenyellow ;
  background: green;
  
  }
  #searchbtn > img {
  
  width: 22px;
  height: 20px;}
  .recipe-card h2{
    text-align: center  ;
    display: flex;
    justify-content: space-between;}
  
  h2 > a{
  text-decoration: none;
  color: black;
  }
  h2 > a:hover {
  cursor: pointer;
  color: green;
  }